@{ 
    ViewBag.Title = "Главная страница";
}

<div class="container">

    <partial name="Partial/_SliderPartial"/>

    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial"/>
        </div>
        <div class="col-sm-9">

            <partial name="Partial/_TopBooksPartial"/>

            <partial name="Partial/_NewBooksPartial"/>

            <partial name="Partial/_RecommendedBooksPartial"/>

        </div>
    </div>

    

</div>
