@model IEnumerable<ProductWebModel>
@{ 
    ViewBag.Title = "Главная страница";
}

<div class="container-md">

    <partial name="Partial/_SliderPartial"/>

    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial"/>
        </div>
        <div class="col-sm-9">
            <partial name="Partial/_TopBooksPartial" model="Model"/>
            <partial name="Partial/_NewBooksPartial" model="ViewBag.NewBooks"/>
            <partial name="Partial/_RecommendedBooksPartial" model="ViewBag.RecommendedBooks"/>
        </div>
    </div>

</div>
