<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Интернет-магазин книг</title>
</head>
<body>
<h1>Интернет-магазин книг</h1>
<hr />
<a href="/Worker/">Сотрудники магазина</a>
<hr />

</body>
</html>
