<div class="left-sidebar">
    <h2 class="text-center display-6">Жанры книг</h2>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active bg-dark" aria-current="page" href="#">Новинки</a>
        </li>
        <li>
            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" data-bs-target="#fiction">Художественная</a>
            <div class="collapse" id="fiction">
                <ul class="list-unstyled" >
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Детективы</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Фантастика</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Фентези</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Триллеры и ужасы</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Роман и проза</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" data-bs-target="#technical">Техническая</a>
            <div class="collapse" id="technical">
                <ul class="list-unstyled" >
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Психология</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Компьютеры</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Медицина</a></li>
                    <li><a class="nav-link text-dark fw-light pb-0 " href="#">Кулинария</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Учебники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Комиксы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Иностранные</a>
        </li>
    </ul>
    <h2 class="text-center display-6">Авторы книг</h2>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Пушкин</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Булгаков</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Пирожков</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Достоевский</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Иванов</a>
        </li>
    </ul>
</div>
