<div class="left-sidebar">
    <h2 class="text-center display-6">Жанры книг</h2>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active bg-dark" aria-current="page" href="#">Новинки</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Художественная</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Детективы</a></li>
                <li><a class="dropdown-item" href="#">Фантастика</a></li>
                <li><a class="dropdown-item" href="#">Фентези</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Триллеры и ужасы</a></li>
                <li><a class="dropdown-item" href="#">Роман и проза</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Нехудожественная</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Психология</a></li>
                <li><a class="dropdown-item" href="#">Компьютерные</a></li>
                <li><a class="dropdown-item" href="#">Медицина</a></li>
                <li><a class="dropdown-item" href="#">Кулинария</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Учебники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Комиксы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Иностранные</a>
        </li>
    </ul>

</div>
