@model IEnumerable<GenreWebModel>

<ul class="nav nav-pills flex-column">

    @foreach (var parent in Model)
    {
        if (parent.Child.Count > 0)
        {
            <li>
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" data-bs-target="#genre@(parent.GetHashCode())">
                    @parent.Name
                </a>
                <div id="genre@(parent.GetHashCode())" class="collapse">
                    <ul class="list-unstyled">
                        @foreach (var kind in parent.Child)
                        {
                            <li>
                                <a class="nav-link text-dark fw-light pb-0" href="#">
                                    @kind.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    @parent.Name
                </a>
            </li>
        }
    }

</ul>
