@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_UserProfileLayout";
}

<h2 class="text-center display-6">@ViewBag.Title</h2>

<div class="col-md-6">
    <ul class="list-group">
        <li class="list-group-item">Имя пользователя: <strong>@ViewBag.Name</strong></li>


    </ul>
</div>

