<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#">Пушкин</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#">Булгаков</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#">Пирожков</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#">Достоевский</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#">Иванов</a>
    </li>
</ul>
