@model IEnumerable<AuthorWebModel>

<ul class="nav nav-pills flex-column">
    @foreach (var author in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">
                @author.Name
            </a>
        </li>
    }
</ul>
