@charset "UTF-8";

/* Sticky footer styles -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background: #9dffd5;
}

.card {
    background: #c5ffe6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 80px; /* Vertically center the text there */
}
