<footer class="border-top footer text-muted bg-dark">
    <div class="container-md">
        &copy; 2021 - kanadeiar <a class="text-light" href="https://github.com/kanadeiar/EasyBookStore">github</a>
    </div>
</footer>
