<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="Index">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blog" asp-action="Index">Блог</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Worker" asp-action="Index">Работники</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" >Disabled</a>
    </li>*@
</ul>