@using EasyBookStore.Domain.Models.Identity
<div class="d-grid gap-2 d-sm-inline-block">
    @if (User.IsInRole(Role.Administrators))
    {
        <a href="#" class="btn btn-danger"><i class="fa fa-keyboard-o"></i> Админка</a>
    }
    <a href="#" class="btn btn-outline-warning"><i class="fas fa-user"></i> @User.Identity?.Name</a>
    <a class="btn btn-outline-secondary" href="#"><i class="fas fa-shopping-cart"></i> Корзина</a>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-primary"><i class="fas fa-lock"></i> Выход</a>
</div>
