<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom mb-4">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/favicon.png" alt="Бренд" width="30" height="30" class="d-inline-block align-text-top">
                Магазин книг
            </a>
            <h5>Админка</h5>
        </div>
    </nav>
</header>
