
@{
    ViewBag.Title = "Блог магазина";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <hr />
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Главная страница</a>
    <hr />

</div>

