<div class="left-sidebar">
    <h4 class="text-center">Навигация профиля пользователя</h4>
    <div>
        <div class="d-grid gap-2">
            <a asp-action="Index" class="btn btn-outline-secondary mb-1">
                Профиль пользователя
            </a>
        </div>
    </div>
    <div>
        <div class="d-grid gap-2">
            <a asp-action="Orders" class="btn btn-outline-secondary mb-1">
                Заказы пользователя
            </a>
        </div>
    </div>
</div>
