<div class="top_items row">
    <h2 class="text-center display-6">Книжные новинки</h2>

    <div class="col-sm-4">
        <div class="card">
            <a href="#"><img src="~/images/books/harrypotter1.png" class="card-img-top" alt="Гарри поттер 1"></a>
            <div class="card-body">
                <h5 class="card-title">Гарри поттер номер 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Фантастика</h6>
                <p class="card-text">Книга о Гарри поттере первая из всего цикла рассказывает о фантастике.</p>
                <a href="#" class="btn btn-outline-success">Купить</a>
                <a href="#" class="btn btn-outline-info">Подробности</a>
            </div>
            <div class="card-footer">Новинка</div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <a href="#"><img src="~/images/books/harrypotter1.png" class="card-img-top" alt="Гарри поттер 1"></a>
            <div class="card-body">
                <h5 class="card-title">Гарри поттер номер 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Фантастика</h6>
                <p class="card-text">Книга о Гарри поттере первая из всего цикла рассказывает о фантастике.</p>
                <a href="#" class="btn btn-outline-success">Купить</a>
                <a href="#" class="btn btn-outline-info">Подробности</a>
            </div>
            <div class="card-footer">Новинка</div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <a href="#"><img src="~/images/books/harrypotter1.png" class="card-img-top" alt="Гарри поттер 1"></a>
            <div class="card-body">
                <h5 class="card-title">Гарри поттер номер 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Фантастика</h6>
                <p class="card-text">Книга о Гарри поттере первая из всего цикла рассказывает о фантастике.</p>
                <a href="#" class="btn btn-outline-success">Купить</a>
                <a href="#" class="btn btn-outline-info">Подробности</a>
            </div>
            <div class="card-footer">Новинка</div>
        </div>
    </div>
</div>