@model IEnumerable<ProductWebModel>

<div class="top_items">
    <h2 class="text-center display-6">Рекомендуемые книги</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="top-items row">
                    @foreach (var product in Model.Take(4))
                    {
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <a href="#"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                                <div class="card-body">
                                    <h5 class="card-title">@product.Name</h5>
                                    <a href="#" class="btn btn-outline-info">Подробности</a>
                                </div>
                                <div class="card-footer">Рекомендация</div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="carousel-item">

                <div class="top-items row">
                    @foreach (var product in Model.Skip(4).Take(4))
                    {
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <a href="#"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                                <div class="card-body">
                                    <h5 class="card-title">@product.Name</h5>
                                    <a href="#" class="btn btn-outline-info">Подробности</a>
                                </div>
                                <div class="card-footer">Рекомендация</div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>


</div>